      

    .noticia {
        font-family: "opensans regular", arial, sans-serif;
        background-color: #d6d6d6;
        border: 1px solid black;
        color: #333;
        font-size: 16px;
        padding-left: 15px;
        padding-right: 10px;
        text-align: justify;
        line-height: 24px;
        width: 1000px;
        margin: 20px;
        float: left;

        }
    
    .noticia h1 {
        color: #c4170c;
        font-family: "Heveltica Neue", Arial, sans-serif;  
        margin: 8px;
        }

    .imagem {
        float: left;
        padding: 5px 5px 20px 5px;
        margin: 5px;
        background-color: white;


    }

    .noticia p {
        clear: both;
    }

              
    