body{
  background: white;
}

h1{
  text-align: center;
}

header{
  color: white;
}

.box1{
  border-radius: 900% 900% 0% 900%;
  background: red;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: block;
  float: left;
}

.box2{
  border-radius: 900% 900% 900% 0%;
  background: orange;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  display: flex;
}

.box3{
  border-radius: 900% 0% 900% 900%;
  background: green;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  float: left;
  display: block;
}

.box4{
  /*border-radius: 0px 0px 0px 300px;*/
  border-radius: 0% 900% 900% 900%;
  background: purple;
  padding: 20px;
  width: 200px;
  height: 200px;
  box-sizing: border-box;
  float: left;
  display: flex;

}

.box5{
  border-radius:300% 0% 0% 0%;
  background: green;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  display: block;
  float: left;
}

.box6{
  border-radius: 0% 300% 0px 0px;
  background: blue;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  display: flex;
}

.box7{
  border-radius: 0% 0% 0% 300%;
  background: red;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  float: left;
  display: block;
}

.box8{
  /*border-radius: 0px 0px 0px 300px;*/
  border-radius: 0% 0% 300% 0%;
  background: yellow;
  padding: 20px;
  width: 200px;
  height: 150px;
  box-sizing: border-box;
  float: left;
  display: flex;
}
