      

    .container {
      style="width:500px;
    }
    
    h1.cabecalho h1 {
    background-color:#E0EEE5;margin-bottom:0;font-family: Arial }
          
    .menu {
    background-color:#ddd;height:200px;width:100px;float:left }

    .conteudo {
    background-color:#EEE;height:200px;width:400px;float:left
    }
    
    .rodape {
    background-color:#ccc;clear:both;text-align:center }